* {
    box-sizing: border-box;
    color: var(--text);
}
:root{
    --background: #8F5CF2;
    --card:   #6666E2;
    --border:  #F8C4DA;
    --text:     #03031b;
    
}
body{
    background-color: var(--background);
    display: flex;
    align-items:center;
    justify-content:center;   
    gap: 1rem;
    height: 97vh;
    width: fit-content;
    margin: 0;
    padding: 1rem;
}

form{
    display: flex;
}

fieldset{
    background-color:#fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.5rem 0.1rem var(--border);
}

fieldset :not(div):not(label):not(legend) {
    margin: 0.2rem;
    border: 1px solid var(--border);
    border-radius: 0.2rem;
}
fieldset input[type=button]{
    border: 1px outset;
}
textarea{
    resize: none;
}
.card-container{
    display: grid;
    grid-template-rows: repeat(3, minmax(0,1fr));
    grid-template-columns: repeat(auto-fil, minmax(0,1fr));
    grid-auto-flow: column;
    gap:0.75rem;
    max-height: 90vh;
}
.card,.card-body{
    display: flex;
    align-items:center;
    justify-content:center;
}

.card{
    justify-content: space-between;
    border-radius: 0.3rem;
    border: 1px solid var(--border);
    flex-direction: column;
    padding: 0.5rem;
    height: 100%;
    width:  100%;
    min-width: 12.5rem;
    gap: 0.4rem;
    background-color: #fff;
}
.card-body{
    width: 100%;
    justify-content: space-between;
}
.card-body p,.card h3{
    width: 100%;
    margin: 0;
}

.checkbox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.date-container{
    display: flex;
    align-items:center;
    justify-content:space-between;
    width: 100%;
}
.card-footer{
    display: flex;
    flex-direction: column;
}
.card-date{
    display: flex;
    width: fit-content;
    font-size: 0.7rem;
}
.delete-button{
    border-radius: 0.3rem;
    border: 1px outset var(--border);
    width: fit-content;
    align-self: center;
}
.tachado{
    text-decoration-line: line-through;
}